@use "./vars/var";
@use "./reset/reset";
@use "./theme/light";
@use "./theme/dark";

// BODY
body {
  background-color: var(--body-bg);
  background-image: var(--body-bg-gradient);
  background-repeat: no-repeat;
  font-family: var(--font-nunito);
  min-height: 100vh;
  width: 100%;
  color: var(--text-color);
}
