.block {
  .titleBlock {
    .title {
      font-size: clamp(50px, 5vw, 90px);
      font-weight: 900;
      letter-spacing: 2px;
      color: var(--title-hero);
      text-shadow: var(--title-hero-shadow);
    }
  }

  .desc {
    font-size: clamp(17px, 4vw, 25px);
    font-weight: 500;
    max-width: 800px;
    width: 100%;
    margin: clamp(15px, 2vw, 30px) 0 clamp(30px, 3vw, 50px);
  }

  .btn {
    font-size: clamp(15px, 3vw, 20px);
    padding: clamp(15px, 2vw, 20px) clamp(30px, 2vw, 40px);
  }
}
