.topItems {
  background-color: var(--card-bg);
  background-image: var(--card-gradient);
  border: 1px solid var(--border-color);
  padding: var(--padding);
  border-radius: var(--border-radius);

  .flex {
    @media (max-width: 500px) {
      flex-direction: column !important;
    }

    .item {
      flex: 1;
      text-align: center;
      width: 100%;

      & > h2 {
        font-weight: 700;
      }
    }
  }
}
