:root {
  // fonts
  --font-roboto: "Roboto", sans-serif;
  --font-nunito: "Nunito", sans-serif;

  // header
  --header-height: 90px;
  --header-z-index: 100;

  // btn-to-top
  --btn-to-top-z-index: 10;
  --btn-to-top-position-bottom: 20px;
  --btn-to-top-position-right: 10px;

  // modal
  --modal-z-index: 1000;

  // footer
  --padding-footer: clamp(30px, 3vw, 50px) 0px;

  // btn
  --btn-padding: 10px 20px;
  --btn-padding-theme: 10px;
  --btn-border-radius: 7px;
  --btn-font-size: 15px;

  // padding
  --padding: clamp(20px, 2vw, 30px);
  --padding-card: clamp(15px, 3vw, 20px) clamp(20px, 3vw, 30px);
  --padding-section: clamp(20px, 3vw, 30px) 0px;

  // input
  --input-padding: 10px 15px;

  // border-radius
  --border-radius: 12px;

  // colors
  --primary: royalblue;
  --primary-hover: rgb(41, 83, 207);
  --secondary: rgb(86, 32, 204);
  --secondary-hover: rgb(86, 32, 204);
  --color-white: #fff;
  --danger: crimson;

  // transition
  --transition: 200ms ease;

  // icon
  --font-size-icon: clamp(16px, 3vw, 18px);

  --margin-bottom-title: clamp(30px, 3vw, 50px);
}
