body.light {
  // body
  --body-bg: #ffffff;
  --body-bg-gradient: linear-gradient(
    113deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(248, 250, 252) 56%,
    rgb(241, 245, 249) 100%
  );

  // card
  --card-bg: rgba(255, 255, 255, 0.9);
  --card-gradient: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(248, 250, 252, 0.9) 100%
  );

  // header
  --header-bg: rgba(255, 255, 255, 0.8);
  --header-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(248, 250, 252, 0.8) 100%
  );
  --header-border-color: rgba(0, 0, 0, 0.09);

  // footer
  --footer-bg: radial-gradient(
    ellipse at center top,
    rgb(255, 255, 255) 0%,
    rgb(248, 250, 252) 40%,
    rgb(241, 245, 249) 70%,
    rgb(226, 232, 240) 100%
  );

  // border
  --border-color: rgba(0, 0, 0, 0.2);

  // logo
  --logo-shodow: 1px 1px 7px rgba(0, 0, 0, 0.2);

  --link-color: #111;
  --text-color: #0c0c0c;
  --title-color: #080808;

  // modal
  --modal-bg: rgba(48, 48, 48, 0.8);

  // btn
  --btn-text-bg: rgba(0, 0, 0, 0.1);

  /* title-hero */
  --title-hero: #1e293b;
  --title-hero-shadow: 0 1px 2px rgba(30, 41, 59, 0.4),
    0 2px 4px rgba(30, 41, 59, 0.3), 0 1px 0px rgba(30, 41, 59, 0.6);

  /* stats-bg */
  --stats-bg: rgba(179, 189, 212, 0.08);
}
