*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: background-color var(--transition), color var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input {
  font-family: var(--font-roboto);
  color: var(--title-color);
}

a {
  display: inline-flex;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-flex;
  background-color: transparent;
}

img {
  display: inline-flex;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin-inline: auto;
}
