*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: background-color var(--transition), color var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input {
  font-family: var(--font-roboto);
  color: var(--title-color);
}

h1 {
  font-size: clamp(28px, 4vw, 42px);
}

h2 {
  font-size: clamp(24px, 3.5vw, 36px);
}

h3 {
  font-size: clamp(20px, 3vw, 28px);
}

h4 {
  font-size: clamp(18px, 2.5vw, 24px);
}

h5 {
  font-size: clamp(16px, 2vw, 20px);
}

h6 {
  font-size: clamp(14px, 1.5vw, 18px);
}

a {
  display: inline-flex;
  text-decoration: none;
  transition: opacity var(--transition), color var(--transition);

  &:hover {
    opacity: 0.6;
  }
}

button {
  cursor: pointer;
  display: inline-flex;
  background-color: transparent;
}

img,
svg {
  display: inline-flex;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin-inline: auto;
}
