.title {
  margin-bottom: clamp(25px, 3vw, 45px);
}

.gridBlock {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;

  .card {
    padding: clamp(25px, 2vw, 40px);
  }
}

.icon {
  font-size: 20px;
}
