.title {
  margin-bottom: clamp(25px, 3vw, 45px);
}

.gridBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .card {
    padding: clamp(25px, 2vw, 40px);
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.icon {
  font-size: 20px;
}
