.title {
  margin-bottom: clamp(15px, 2vw, 30px);
}

.gridBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .card {
    padding: 40px;
  }
}

.icon {
  font-size: 18px;
}
