.btn {
  padding: var(--btn-padding);
  border: 1px solid transparent;
  border-radius: var(--btn-border-radius);
  font-size: var(--btn-font-size);
  text-transform: capitalize;
  transition: background-color var(--transition), color var(--transition);
}

.primary {
  background-color: var(--primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--primary-hover) !important;
  }
}

.default {
  border: 1px solid var(--primary);
  color: var(--primary);

  &:hover {
    background-color: var(--primary) !important;
    color: var(--color-white) !important;
  }
}

.text {
  color: var(--title-color);

  &:hover {
    background-color: var(--btn-text-bg) !important;
  }
}
