.header {
  height: var(--header-height);
  background: var(--header-bg);
  background: var(--header-gradient);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--header-border-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--header-z-index);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .containerBlock {
    flex: 1;

    .logoLink {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white);
      padding: 10px;
      border-radius: 10px;
      border: 1px solid var(--border-color);
      box-shadow: var(--logo-shodow);

      img {
        width: clamp(70px, 7vw, 115px);
      }
    }

    .menuLinks {
      display: flex;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    .headerBtn {
      background-color: var(--card-bg);
      border: 1px solid var(--border-color);
      color: var(--text-color);

      @media (max-width: 650px) {
        display: none;
      }
    }

    .menuBtn {
      background-color: var(--card-bg);
      border: 1px solid var(--border-color);
      color: var(--text-color);
      padding: var(--btn-padding-theme);
      display: none;

      .menuIcon {
        font-size: 18px;
      }

      @media (max-width: 1200px) {
        display: inline-flex;
      }
    }

    .link {
      align-items: center;
      gap: 5px;
      font-size: 16px;

      .iconTel {
        font-size: 18px;
      }
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}
